**You can use Google but don't use ChatGPT and Gemini. You are here to learn. Follow the instructions given below and write the code in that cell only.**

In [82]:
# Question 1: Create three variables one containing an integer value,
# one containing floating point value and the last one contains string value.
# Accept the value of all three variables from the user.
# Print out the data types of the variables using a predifined function.
# What is the square of the first and second variables? Add 97 to them. Subtract 3 from them and then divide them by the original value before squaring.
# Append your name to the third variable and display the value.
# Write your code in this cell.

In [83]:
# Question 2: Define a function that accepts a value and prints out the multipication table from 1 to 20.
# Write your code in this cell.

In [84]:
# Question 3: How many vowels are present in the new value of the third variable?
# Write your code in this cell.

In [85]:
# Question 4: Start
# Import the numpy library

In [86]:
# Create a numpy array of size 10.

In [87]:
# Resize the array to make it a column vector. So the shape will be (10, 1).
# Print the shape of the array to verify your answer

In [88]:
# Create a numpy array of the above shape where all elements are 1
# Add this array to the above column vector

In [89]:
# Print out the first 5 rows of the new column vector after addition

In [90]:
# Create a new array of the same shape which have random values

In [91]:
# Now perform hstack() and vstack() and print out the shape and write in
# one line what difference you observe

In [92]:
# Make a list conatining 7 numbers (of your choice)
# Convert this into numpy array
# Explore how to do element wise squaring using (**) operator
# Print out the result

In [93]:
# Question 4: End
# Explore broadcasting from the internet and explain what you understood with the help of an example.

**Dataset Link:** https://www.kaggle.com/datasets/himanshunakrani/iris-dataset

**If you are using Google Colab:<br>
Step 1: Upload the dataset on your drive<br>
Step 2: In the left most part of you screen there are 5 options at the top and 3 options at the bottm.<br>
Step 3: Click on Files option (last option in the top below the key symbol)<br>
Step 4: Click on mount drive and wait.<br>
Step 5: Now you can see a folder named drive.<br>
Step 6: Click on it. Click on MyDrive. Now you can see all your files here.<br>
Step 7: Use Ctrl+F to search the name of the dataset.<br>
Step 8: Right click on it and click on copy path**

**If you are using Jupyter Notebook:<br>
Step 1: Create a new folder.<br>
Step 2: Add the dataset in this folder<br>
Step 3: Copy this notebook to the same folder.<br>
Step 4: Now you can easily copy the path**

In [94]:
# Question 5: Start
# import pandas library

In [95]:
# Copy your path and store in the below variable.
# Note that the path will be a string

# Uncomment the below line
"""
path = your path of the dataset
"""

# Load the dataframe

In [96]:
# Print out the first 7 rows using head()

In [97]:
# Print out the last 10 rows

In [98]:
# How many rows and columns are there in this dataset

In [99]:
# Print the info of this dataset

In [100]:
# Check if the dataset has null values

In [101]:
# From the describe method what is std (standard deviation) of petal_width

In [102]:
# Print out all the names of the column using a predifined method

In [103]:
# How many types of values are there in species column

In [104]:
# Select all rows whose species column value is setosa
# Print out the shape of this dataframe

In [105]:
# Select all rows whose species column value is virginica
# Print out the shape of this dataframe

In [106]:
# Make a new dataframe called "df_new" by concatenating the above dataframes
# Print out the shape of this dataframe

In [107]:
# Print the average sepal_length of these two species

In [108]:
# Create a new column called "sepal_area" which is computed by taking the product of sepal_length and sepal_width
# Print the min and max area

In [109]:
# Print out all the names of the columns using predefined method

In [110]:
# From the above output copy all the names except petal_length and store it in a list

In [111]:
# From the above list create a new dataframe "df_new2" from df_new which have only the columns mentioned in the list
# Print out the shape

In [112]:
# Swap setosa with 1
# Swap virginica with 0
# Do this using replace()

**Assignment END<br>
Please submit this on teams before the deadline**